.list {
  margin-top: 10px;
}

.item {
  display: flex;
  padding-top: 10px;
}

.marker {
  color: rgb(80, 80, 80);
  margin-right: 10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  padding: 0 5px;
  background-color: transparent;
  border: none;
  color: #ff0000b0;

  &:hover {
    color: #ff0000;
  }
}

.icon {
  height: 18px;
  width: 18px;
}
