.list {
  margin-left: 20px;
}

.item {
  padding-top: 10px;
}

.btn {
  margin-left: 5px;
  border-radius: 2px;
  background-color: transparent;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
  color: #ff0000b0;
  font-weight: 600;

  &:hover {
    color: #fff;
    background-color: #ff0000b0;
  }
}
