.title {
  color: rgb(80, 80, 80);
  margin-bottom: 15px;
}

.input {
  display: block;
  margin-top: 5px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(80, 80, 80);
  border-radius: 3px;
}

.input:focus {
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid #004c4c;
  box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.3);
}

.input:hover {
  border-bottom: 2px solid #004c4c;
}
